<div class="container mt-5 mb-5 text-center">
  <div class="row justify-content-md-center">
    <div class="col-lg-2"></div>
    <div class="col-md-4 rounded-3 bg-dark p-2 text-white bg-opacity-25">
      <div class="top">
        <span
          >Don't have an account?
          <a routerLink="/auth/register">Register</a></span
        >
        <header>Login</header>
      </div>
      <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
      <div class="input-box p-1">
        <input type="text" formControlName="email" class="input-field" placeholder="Email" />
        <i class="bx bx-envelope"></i>
      </div>
      <div class="input-box p-1">
        <input type="password" formControlName="password" class="input-field" placeholder="Password" />
        <i class="bx bx-lock-alt"></i>
      </div>

      <div class="input-box p-1">
        <input [disabled]="loginFormGroup.invalid" type="submit" class="submit" value="Login" />
      </div>
      <!-- <div class="two-col">
        <div class="one">
          <input type="checkbox" id="register-check" />
          <label for="register-check"> Remember Me</label>
        </div>
        <div class="two">
          <label><a href="#">Terms & conditions</a></label>
        </div>
      </div> -->
    </form>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
