.top span {
  color: #fff;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.top span a {
  font-weight: 500;
  color: #fff;
  margin-left: 5px;
}
.form-box {
  width: 100%;
  height: 500px;
}
.register-container,
.login-container {
  width: 100%;
  padding: 0 20px;
}
.register-container .two-forms {
  flex-direction: column;
  gap: 0;
}

.input-box i {
  position: relative;
  top: -35px;
  left: 17px;
  color: #fff;
}
.two-col {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}
.two-col .one {
  display: flex;
  gap: 5px;
}
.two label a {
  text-decoration: none;
  color: #4c4c4c;
}
.two label a:hover {
  text-decoration: underline;
}
.two-forms {
  display: flex;
  gap: 10px;
}
.submit {
  font-size: 15px;
  font-weight: 500;
  color: rgb(255, 174, 0);
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.submit:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.input-field {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #4c4c4c;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}
.input-field:hover,
.input-field:focus {
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder {
  color: #fff;
}

.error {
  /* border-color: red;
  border: 2px; */
  color: red;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.659);
  border-radius: 15px;
  padding: 3px;
}
