<div class="container mt-5 mb-5 text-center">
  <div class="row justify-content-md-center">
    <div class="col-lg-2"></div>
    <div class="col-md-4 rounded-3 bg-dark p-2 text-white bg-opacity-25">
      <div class="top">
        <header><h3>NEW RECIPE</h3></header>
      </div>
      <form #newRecipeForm="ngForm" (ngSubmit)="createNewRecipe(newRecipeForm)">
        <div class="input-box p-1">
          <input
            ngModel
            name="recipeName"
            #recipeName="ngModel"
            type="text"
            class="input-field"
            placeholder="Recipe Name"
          />
          <i class="bx bx-envelope"></i>
        </div>
        <div class="input-box p-1">
          <input
            type="text"
            name="imageUrl"
            #imageUrl="ngModel"
            ngModel
            class="input-field"
            placeholder="Image Url"
          />
          <i class="bx bx-envelope"></i>
        </div>
        <div class="input-box p-1">
          <textarea
            type="text"
            name="ingredients"
            #ingredients="ngModel"
            ngModel
            class="textarea"
            placeholder="Ingredients"
          ></textarea>
          <i class="bx bx-envelope"></i>
        </div>
        <div class="two-forms">
          <div class="input-box p-1">
            <input
              type="text"
              name="prepTime"
              #prepTime="ngModel"
              ngModel
              class="input-field"
              placeholder="Prep Time(min.)"
            />
            <i class="bx bx-user"></i>
          </div>
          <div class="input-box p-1">
            <input
              type="text"
              name="cookTime"
              #cookTime="ngModel"
              ngModel
              class="input-field"
              placeholder="Cook Time(min.)"
            />
            <i class="bx bx-user"></i>
          </div>
        </div>
        <div class="two-forms">
          <div class="input-box p-1">
            <input
              type="text"
              name="totalTime"
              #totalTime="ngModel"
              ngModel
              class="input-field"
              placeholder="Total Time(min.)"
            />
            <i class="bx bx-user"></i>
          </div>
          <div class="input-box p-1">
            <input
              type="text"
              name="servings"
              #servings="ngModel"
              ngModel
              class="input-field"
              placeholder="Servings"
            />
            <i class="bx bx-user"></i>
          </div>
        </div>

        <div class="input-box p-1">
          <input type="submit" class="submit" value="Add Recipe" />
        </div>
        <!-- <div class="two-col">
          <div class="one">
            <input type="checkbox" id="register-check" />
            <label for="register-check"> Remember Me</label>
          </div>
          <div class="two">
            <label><a href="#">Terms & conditions</a></label>
          </div>
        </div> -->
      </form>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
