<div class="container text-center mt-5">
  <div *ngIf="userFullName$ | async" class="userName">
    Welcome {{ userFullName$ | async }}!
  </div>
  <div class="row">
    <div class="col-md">
      <nav class="navbar rounded-3 bg-warning">
        <div class="container">
          <div class="com-md">
            <a class="navbar-brand" routerLink="/">
              <img
                class="img-thumbnail"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzZ7IMaYVTbYsTyOOrelOHG7iScussAr_MBA&usqp=CAU"
                alt="image"
                width="80"
                class="d-inline-block align-text-center"
              />
              My Recipes
            </a>
          </div>
          <ul class="nav justify-content-end nav-underline">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/catalog">Catalog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/search">Search</a>
            </li>
            <li class="nav-item" *ngIf="isLogin$ | async">
              <a class="nav-link text-white" routerLink="/recipes/new-recipe"
                >Add Recipe</a
              >
            </li>
            <li class="nav-item" *ngIf="isLogin$ | async">
              <a class="nav-link text-white" routerLink="/recipes/my-recipes"
                >My Recipes</a
              >
            </li>
            <li class="nav-item" *ngIf="isLogin$ | async">
              <a
                class="nav-link text-white"
                href="javascript:void(0);"
                (click)="logout()"
                >Logout</a
              >
            </li>
            <li class="nav-item" *ngIf="!(isLogin$ | async)">
              <a class="nav-link text-white" routerLink="/auth/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="!(isLogin$ | async)">
              <a class="nav-link text-white" routerLink="/auth/register"
                >Register</a
              >
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li> -->
          </ul>
        </div>
        <!-- Navbar content -->
      </nav>
    </div>
  </div>
  <div class="row" *ngIf="!!message && messageErrorType">
    <div class="col-md p-2">
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!!message && !messageErrorType">
    <div class="col-md p-2">
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    </div>
  </div>
</div>
