<hr />

<nav class="nav">
  <div class="nav-logo">
    <p>LOGO .</p>
  </div>
  <div class="nav-menu" id="navMenu">
    <ul>
      <li><a routerLink="/home" class="link">Home</a></li>
      <li><a routerLink="" class="link">Blog</a></li>
      <li><a routerLink="" class="link">Services</a></li>
      <li><a routerLink="" class="link">About</a></li>
    </ul>
  </div>
  <div class="nav-button">
    <button class="btn white-btn" id="loginBtn" routerLink="/auth/login">
      Sign In
    </button>
    <button class="btn white-btn" id="registerBtn" routerLink="/auth/register">
      Sign Up
    </button>
  </div>
</nav>

<hr />
